@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('/css/settings.css');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
 }

/* Content */

.blog-headline {
    text-align: center;
    color: var(--accent-clr);
    margin: var(--spacer-md);
    font-size: var(--fs-3);
    font-weight: var(--fw-m);
    text-transform: uppercase;
}

.blog-container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.text-container {
    margin-top: var(--spacer);
    height: 70%;
    overflow: auto;
}

.blog-card {
    position: relative;
    overflow: hidden;
    width: 90%;
    max-width: 1400px;
    height: 1000px;
    margin: var(--spacer-md) auto;
    border: rgb(213, 209, 209) solid 2px;
    box-shadow: var(--shadow);
    border-radius: var(--br);
    
}

.blog-card img {
    width: 100%;
    
    
}
.card-bottom {
    position: absolute;
    height: 45%;
    max-width: 100%;
    bottom: 0px;
    background-color: hsla(240, 100%, 100%, 1);
}

.blog-date {
    margin: var(--spacer-md);
    font-size: var(--fs-l);
    font-weight: var(--fw-n);
    text-align: right;
}

.headline {
    margin: 1rem 4rem 1rem 4rem;
    text-align: left;
    font-weight: var(--fw-n);
    color: var(--accent-clr);
    font-size: var(--fs-3);
}
.description {
    margin: 1rem 4rem 1rem 4rem;
    text-align: left;
    font-size: var(--fs-p);
    font-weight: var(--fw-n);
}

.readmore {
    position: absolute;
    text-decoration: none;
    color: black;
    font-size: var(--fs-p);
    font-weight: var(--fw-n);
    left: 3rem;
    bottom: 1rem;
    margin: 1rem;
}

@media only screen and (max-width: 769px){

   
}