@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');



/* Content */


/* Alapalkki */
.alapalkki{
    display: block;
    height: 330px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(187, 202, 202);
    margin-top: 10rem;
}

.alapalkki h1 {
    color: grey;
    font-size: 14px;
    padding-top: 4px;
}

.alapalkki .tiedot{
    padding-top: 20px;
}

.alapalkki a{
    font-size: 14px;
    font-weight: 700;
    color: gray;
    text-decoration: none;
    padding-top: 20px;
    margin-top: 30px;
}

.alapalkki .copyright{
    color: gray;
    font-size: 20px;
    padding-top: 70px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 769px){

    .logo {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding-top: 10rem;
        padding-bottom: 10rem;
        
    }

    li, .nav {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: black;
        text-decoration: none;
        margin: .5 rem;
    }

    .container .box {
        flex-direction: column;
    }

    .container .box .column{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .alapalkki .copyright{
        font-size: 14px;
    }
}