@import url('/css/settings.css');


*{
    margin: 0;
    padding: 0;
    font-family: var(--ff-primary);
    
 }

 
 
/* galleria kuvat */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0px 20px;  
}



.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .column{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .column img{
   width: 100%; 
   margin-bottom: var(--spacer);
   border-radius: 3px;
}



@media only screen and (max-width: 769px){


    .container .box {
        flex-direction: column;
    }

    .container .box .column{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
}