@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
 }

 /* Header */
  
header {
    
    display: block;
    justify-content: center;
    text-align: center;
}

div {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.logo {
    display: block;
    margin: 0 auto;
    max-height: 300px;
    max-width: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    
}

.linkit{
    display: block;
    padding-bottom: 30px;
}

.link{
  border: none;
  color: white;
  margin: .5rem;
  font-size: 40px;
  background: transparent;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.navbar {
    background-color: rgb(187, 202, 202);
    padding: 10px;
    margin: 20px;
    
}

li, .nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
    margin: 1rem;
}
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    align-items: center;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:white;

}
 
/* galleria kuvat */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0px 20px;  
}

.container .heading h3{
    font-size: 3em;
    color: rgb(22, 178, 230);
    font-weight: bolder;
    border-bottom: 10px;
    padding-top: 80px;
    padding-bottom: 100px;
}

.container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .box .column{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.container .box .column img{
   width: 100%; 
   padding-bottom: 15px;
   border-radius: 5px;
}

/* Alapalkki */
.alapalkki{
    display: block;
    height: 330px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(187, 202, 202);
    margin-top: 10rem;
}

.alapalkki h1 {
    color: grey;
    font-size: 14px;
    padding-top: 4px;
}

.alapalkki .tiedot{
    padding-top: 20px;
}

.alapalkki a{
    font-size: 14px;
    font-weight: 700;
    color: gray;
    text-decoration: none;
    padding-top: 20px;
    margin-top: 30px;
}

.alapalkki .copyright{
    color: gray;
    font-size: 20px;
    padding-top: 70px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 769px){

    .logo {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding-top: 10rem;
        padding-bottom: 10rem;
        
    }

    li, .nav {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: black;
        text-decoration: none;
        margin: .5 rem;
    }

    .container .box {
        flex-direction: column;
    }

    .container .box .column{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .alapalkki .copyright{
        font-size: 14px;
    }
}