:root {
    --ff-primary: "Montserrat", sans-serif;

    --fw-n: 300;
    --fw-m: 600;
    --fw-b: 800;

    --fs-2: 3rem;
    --fs-3: 2rem;
    --fs-p: 1rem;
    --fs-l: 1.2rem;

    --primary-clr: rgb(187, 202, 202);
    --secondary-clr: white;
    --accent-clr:  rgb(22, 178, 230);
    --footer-clr: grey;

    --spacer: 1rem;
    --spacer-md: calc(var(--spacer) * 2);
    --spacer-lg: calc(var(--spacer) * 3);

    --gap: 5rem;
    --gap-lg: 10rem;

    --shadow: 0 0 1em rgba(0,0,0, .25);
    --br: 5px;

}

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
 }

/* Header */
  
header {
    
    display: block;
    justify-content: center;
    text-align: center;
}


.logo {
    display: block;
    margin: 0 auto;
    max-height: 300px;
    max-width: 100%;
    padding-top: var(--gap-lg);
    padding-bottom: var(--gap-lg);
    
}

.linkit{
    display: block;
    padding-bottom: var(--spacer-lg);
}

.link{
  border: none;
  color: var(--secondary-clr);
  margin: .5rem;
  font-size: 40px;
  background: transparent;
  cursor: pointer;
  height: var(--spacer-lg);
  width: var(--spacer-lg);
}

.navbar {
    background-color: var(--primary-clr);
    padding: var(--spacer);
}

li, .nav {
    font-family: var(--ff-primary);
    font-weight: var(--fw-n);
    font-size: var(--fs-l);
    color: black;
    text-decoration: none;
    margin: var(--spacer);
}
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    align-items: center;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: var(--secondary-clr);

}

/* dropdown */

.dropdown {
    display: inline;
    padding-bottom: var(--spacer-md);
}

.drop {
    color: black;
    background-color:var(--primary-clr);
    display: none;
    text-decoration: none;
    font-size: var(--fs-l);
    padding: 10px 15px 10px 5px;
    z-index: 999;
    text-align: left;
    border-bottom:2px  solid hsla(0, 3%, 66%, 0.549);
}

.content {
    position: absolute;
    margin-top: 10px;
}

.dropdown:hover .drop{
    display: block;
}

@media only screen and (max-width: 769px){

    .logo {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding-top: 10rem;
        padding-bottom: 10rem;
        
    }

    li, .nav { 
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: black;
        text-decoration: none;
        margin: .5 rem;
    }
 
}