@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    --ff-primary: "Montserrat", sans-serif;

    --fw-n: 300;
    --fw-m: 600;
    --fw-b: 800;

    --fs-2: 3rem;
    --fs-3: 2rem;
    --fs-p: 1rem;
    --fs-l: 1.2rem;

    --primary-clr: rgb(187, 202, 202);
    --secondary-clr: white;
    --accent-clr:  rgb(22, 178, 230);
    --footer-clr: grey;

    --spacer: 1rem;
    --spacer-md: calc(var(--spacer) * 2);
    --spacer-lg: calc(var(--spacer) * 3);

    --gap: 5rem;
    --gap-lg: 10rem;

    --shadow: 0 0 1em rgba(0,0,0, .25);
    --br: 5px;

}

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
 }

/* Content */




@media only screen and (max-width: 769px){

   
}