@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('/css/settings.css');

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
 }

/* Content */




@media only screen and (max-width: 769px){

   
}