@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    
 }

 /* Header */
  
header {
    
    display: block;
    justify-content: center;
    text-align: center;
}

div {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 12px;
    color: black;
    text-decoration: none;
}

.logo {
    display: block;
    margin: 0 auto;
    max-height: 500px;
    max-width: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
    
}

.linkit{
    display: block;
    padding-bottom: 30px;
}

.link{
  border: none;
  color: white;
  margin: .5rem;
  font-size: 40px;
  background: transparent;
  cursor: pointer;
  height: 40px;
  width: 40px;
}


li, .nav {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: black;
    text-decoration: none;
    margin: 1rem;
}
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    align-items: center;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:aqua
}


/* content */

.kuva {
    display: block;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    
    max-height: 1000px;
    overflow: auto;
    padding-top: 100px;
    
}

.otsikko {
    margin-top: 100px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: rgb(22, 178, 230);
    text-decoration: none;
    
}

.teksti {
    text-align: center;
    font-weight: 4;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 30px;
    

}

/* Alapalkki */
.alapalkki{
    display: block;
    height: 330px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(187, 202, 202);
    margin-top: 10rem;
}

.alapalkki h1 {
    color: grey;
    font-size: 14px;
    padding-top: 4px;
}

.alapalkki .tiedot{
    padding-top: 20px;
}

.alapalkki a{
    font-size: 14px;
    font-weight: 700;
    color: gray;
    text-decoration: none;
    padding-top: 20px;
    margin-top: 30px;
}

.alapalkki .copyright{
    color: gray;
    font-size: 20px;
    padding-top: 70px;
    padding-bottom: 30px;
}


@media only screen and (max-width: 769px){

    .logo {
        display: block;
        margin: 0 auto;
        width: 100%;
        padding-top: 10rem;
        padding-bottom: 10rem;
        
    }

    li, .nav {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 20px;
        color: black;
        text-decoration: none;
        margin: 1rem;
    }

    .container .box {
        flex-direction: column;
    }

    .container .box .column{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .alapalkki .copyright{
        font-size: 14px;
    }
}